<ion-header>
  <ion-toolbar>
    <ion-button color="dark" slot="start" routerLink="/autor"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    <ion-title>Curriculum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list *ngIf="listaTrabajos">
    <ion-item *ngFor="let trabajo of listaTrabajos">
      <ion-label class="ion-text-wrap">
        <p>2010-actualidad:</p>
      Profesor del Master Universitario en desarrollo de Software para Dispositivos Moviles.
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-list *ngIf="listaTrabajos">
    <ion-item *ngFor="let trabajo of listaTrabajos">
      <ion-label class="ion-text-wrap">
        <p>2012-2015:</p>
      Profesor del Master Universitario en desarrollo de Software para Dispositivos Moviles.
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="listaTrabajos">
    <ion-item *ngFor="let trabajo of listaTrabajos">
      <ion-label class="ion-text-wrap">
        <p>2008-2010:</p>
        Sexador de pollos.
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
